# Core dependencies first
numpy==1.26.4

# Flask and app dependencies
Flask==3.1.1
yfinance==0.2.65
pandas==2.3.0
scikit-learn==1.6.1
xgboost==2.1.4
gunicorn==23.0.0

# Prophet (this INCLUDES Prophet, just with cmdstanpy backend instead of pystan)
cmdstanpy==1.2.4
prophet==1.1.6